

<ng-container *ngIf="heroes">
  <mat-card *ngFor="let hero of heroes | filter: filterInput:'name'" class="hero-card mb-5 mx-auto mat-elevation-z10">
    <mat-card-header>
        <mat-card-title>{{hero.name}}</mat-card-title>
    </mat-card-header>
  
    <img mat-card-image [src]="'./assets/images/dummy-image.jpg'">
  
    <mat-card-content>
      <mat-card-subtitle>Powers</mat-card-subtitle>
      <p>{{hero.powers}}</p>
    </mat-card-content>
  
    <mat-card-actions class="hero-actions">
        <button 
          type="button" 
          class="btn btn-secondary mr-2"
          (click)="editHero(hero.id)">
            Editar
        </button>
        <button 
          type="button" 
          class="btn btn-danger"
          (click)="confirmDelete(hero.id)">
          Borrar
        </button>
    </mat-card-actions>
  </mat-card>
</ng-container>


