
<h1 class="text-center m-4">{{ headerPage }}</h1>
<form [formGroup]="form" class="mx-auto">
    <mat-form-field>
        <input
            matInput
            placeholder="Nombre del Super Héroe"
            formControlName="name"
            required
            appUppercase>
        <mat-error
            *ngIf="this.form.get('name').invalid && this.form.get('name').touched">
            {{ requiredErrorMessage }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput 
            placeholder="Poderes Super Héroe"
            formControlName="powers"
            required>
        <mat-error
            *ngIf="this.form.get('powers').invalid && this.form.get('powers').touched">
            {{ requiredErrorMessage }}
        </mat-error>
    </mat-form-field>
        <button 
            type="button" 
            class="btn btn-primary mt-3"
            [disabled]="form.invalid"
            (click)="submit()">
            {{ buttonText }}
        </button>
        <button 
            type="button" 
            class="btn btn-secondary float-right mt-3"
            [routerLink]="'/'">
            Volver Inicio
        </button>
</form>
